
// Typography
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-family: 'Poppins', sans-serif;

$font-h1: 200 2.4rem $font-family;
$font-h2: 200 1.8rem $font-family;
$font-h3: 400 1.2rem $font-family;
$font-sm: 400 0.8rem $font-family;

.loader {
    font: $font-sm;
    padding: .7rem;
    color:hsl(0, 0%, 56%);
}