// css reset
@use 'reset';

//ui-constants
$sidebar-width: 20rem;
$main-shadow: 0rem 0rem 0.5rem hsla(0, 0%, 0%, 0.1);
$main-padding:1.4rem;
$main-radius: .5rem;

// color palette
$color-primary: rgb(226, 101, 23);
$color-secondary: rgb(37, 22, 86);

// Typography
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-family: 'Poppins', sans-serif;

// Main Dashboard
.dashboard{
    display:flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: left;
    font-family: $font-family;
}

// Sidebar
nav {
    ul {
        display:flexbox;
        justify-content: center;
        align-items: center;
        width: $sidebar-width;
        height: calc(100vh - 3.2rem);
        background: #eee;
        padding: 1rem;
        li {
            width:100%;
            margin:0.2rem;
            background-color: hsl(0, 0%, 100%);
            border-radius: $main-radius;
            a {
                width:100%;
                display: block;
                padding: 1rem;
            }
        }
    }
}

// Top Bar
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 3.2rem;
    width: 100vw;
    background-color:hsl(264, 5%, 18%);
    ul>li {
        display: inline;
        margin-inline-end: 1rem;
    }
    .logo {
        margin-left: 1rem;
        font-size: 1.5rem;
        color: rgb(219, 219, 219);
    }
}

// Dashboard Content
main {
    padding:$main-padding;
    width: calc(100vw - $sidebar-width);
}

.page-fade-up {
    opacity: 0;
    animation: fade-up 0.5s forwards;
}
@keyframes fade-up {
    from {opacity: 0;}
    to {opacity: 1;}
}

.login-control {
    font-family: $font-family;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #eee;
        padding: $main-padding;
        border-radius: $main-radius;
        box-shadow: $main-shadow;
        input {
            padding: 1rem;
            background-color: rgb(255, 255, 255);
            border-radius: inherit;
            border: 1px solid #b5b5b5;
        }
        button {
            border-radius: inherit;
            padding: 0.5rem;
            background-color: $color-primary;
            color: white;
            text-align: center;
        }
    }
    
}