// css reset
@use 'reset';

// ui-constants
@use 'typography' as typo;

// ⛭ main ui settings
$sidebar-width: 15rem;
$shadow-lg: 0rem 0rem 1rem hsla(0, 0%, 0%, 0.2);
$shadow-sm: 0rem 0rem 0.3rem hsla(0, 0%, 0%, 0.15);
$main-padding:1.4rem;
$main-radius: .5rem;

// 🎨 color palette
$black:hsl(0, 0%, 30%);
$gray: hsl(280, 2%, 66%);
$color-primary: rgb(218, 34, 14);
$color-secondary: hsla(254, 59%, 21%, 1);

// body constants
body {
    font-family: typo.$font-family;
    color: $black;
    margin:0;
}

// Main Grid
.dashboard{
    display:grid;
    grid-template-columns:15rem 1fr;
    grid-template-rows: 3.2rem 1fr 3rem;
    grid-template-areas:
        'side-bar top-bar'
        'side-bar main'
        'side-bar footer';
    height: 100vh;
    .grid-top {
        grid-area: top-bar;
    }
    .grid-main {
        grid-area: main;
    }
    .grid-sidebar {
        grid-area: side-bar;
    }
    .grid-footer {
        grid-area: footer;
    }
}


// Dashboard Content
main {
    padding:$main-padding;
    h1 {
        font: typo.$font-h1;
    }
    h2 {
        font: typo.$font-h2;
    }
    h3 {
        font: typo.$font-h3;
    }
    span {
        font: typo.$font-sm;
        color: $color-primary
    }
    section {
        box-shadow: $shadow-sm;
        padding: $main-padding;
        border-radius: $main-radius;
        margin-bottom: 1rem;
    }
    input[type="number"] {
        width: 5rem;
        padding:.5rem;
        margin: 0 1rem 0 0.2rem;
        border-radius: $main-radius;
        background-color: #eee;
    }
    input[type="text"] {
        width: 10rem;
        margin: 0 1rem 0 0.5rem;
        padding:.5rem;
        border-radius: $main-radius;
        background-color: #eee;
    }
    ul {
        padding-bottom: 2rem;
    }
    li{
        border-bottom: 1px solid #eee;
        padding: $main-padding;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    button {
        margin:1rem;
        background-color: $color-primary;
        color:white;
    }
}

// Sidebar
nav {
    display:flex;
    flex-direction: column;
    position:relative;
    box-shadow: $shadow-lg;
    ul {
        display:flex;
        flex-direction: column;
        position:relative;
        height: 100%;
        background: #eee;
        padding: 1rem;
        li {
            width:100%;
            margin:0.2rem;
            background-color: hsl(0, 0%, 100%);
            border-radius: $main-radius;
            a {
                width:100%;
                display: block;
                padding: 1rem;
            }
        }
    }
}

// Top Bar
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    background-color:hsl(264, 5%, 18%);
    ul>li {
        display: inline;
        margin-inline-end: 2rem;
    }
    .logo {
        margin-left: 1rem;
        font-size: 1.5rem;
        color: rgb(219, 219, 219);
    }
}

// LOGIN CARD
.login-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: max-content;
        animation: login-showup 1s ease-out forwards;
        border-radius: 1.4rem;
    }
    picture {
        width: 25rem;
        height: 30rem;
        overflow:hidden;
        border-radius: 1.4rem 0 0 1.4rem;
        position: relative;
        img {
            width: 25rem;
            height: inherit;
            object-fit:cover;
        }
        .glass {
            width:30rem;
            border-radius: 0;
            transform:rotateZ(-5deg);
            height: 7rem;
            filter: blur(0.2rem);
            background-color: rgb(255, 255, 255);
            position: absolute;
            left:-2rem;
            animation: glass 1s ease-out forwards;
            
        }
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 25rem;
        height: 30rem;
        padding: 1rem 3rem 1rem 3rem;
        border-radius: 0 1.4rem 1.4rem 0;
        box-shadow: $shadow-sm;
        background-color: #fff;
        input {
            padding: 1rem;
            background-color: rgb(255, 255, 255);
            border-radius: $main-radius;
            border: 1px solid #d0d0d0;
        }
        button {
            background-color: $color-primary;
            color: white;
        }
        h1 {
            font: typo.$font-h1
        }
    }
}
@keyframes login-showup {
    0% {
        opacity: 0;
        transform: perspective(100rem) rotateX(20deg);
        box-shadow: 0rem 2rem 1rem hsla(0, 0%, 0%, .5);
    }
    50% {
        opacity: 1;
        transform: perspective(100rem) rotateX(5deg);
        box-shadow: 0rem 0rem 0.5rem hsla(0, 0%, 0%, 0.1);
    }
    100% {
        opacity: 1;
        transform: perspective(100rem) rotateX(0deg);
        box-shadow: 0rem 0rem 0.5rem hsla(0, 0%, 0%, 0.1);
    }
}
@keyframes glass {
    0% {
        top:25rem;
        opacity: 0.5;
    }
    50% {
        top:0em;
        opacity: 0.7;
    }
    100% {
        top:-2rem;
        opacity: 0.7;
    }
}
button {
    cursor: pointer;
    border-radius: 3rem;
    min-width: 8rem;
    width: max-content;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    text-align: center;
    transition:.3s all;
    box-shadow: inset 0rem 0.5rem 1rem hsla(51, 100%, 96%, 0.2);
    &:hover {
        box-shadow: inset 0rem 0.6rem 1rem hsla(51, 100%, 96%, 0.3);
    }
}
.btn-sm {
    cursor: pointer;
    border-radius: 1rem;
    min-width:min-content;
    width: max-content;
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
    text-align: center;
    border:0.1rem solid $gray;
    font: typo.$font-sm;
    color: $gray;
    &:hover {
        border:0.1rem solid $color-primary;
        color: $color-primary;
    }
}
.btn-action {
    cursor: pointer;
    border-radius: 1rem;
    min-width:min-content;
    width: max-content;
    height: max-content;
    padding: 0.5rem 0.8rem;
    text-align: center;
    font: typo.$font-sm;
    color: white;
}

.page-fade-up {
    opacity: 0;
    animation: fade-up 0.5s forwards;
}
@keyframes fade-up {
    from {opacity: 0;}
    to {opacity: 1;}
}

// Component JobList.vue
.job-list {
    li {
        border: 1px solid rgb(229, 229, 229);
        padding: 1rem;
        border-radius: $main-radius;
        margin-bottom: .2rem;
        background-color: rgb(245, 245, 245);
        display:grid;
        grid-template-columns:2fr 4fr 1fr 1fr;
        grid-gap:0rem;
    }
    h3 {
        margin: .5rem 0;
    }
    .plate-number {
        border-radius: $main-radius;
        border:.2rem solid rgb(154, 154, 154);
        background-color: white;
        color: $color-primary;
        font-size: 1.2rem;
        font-weight: 500;
        padding:0 1rem;
        width: max-content;
        text-align: center;
        margin-bottom: .2rem;
    }
    .btn-start {
        background-color: rgb(64, 153, 1);
    }
    .btn-finish {
        background-color: $color-primary;
    }
    .btn-archive {
        background-color: $gray;
    }
    .btn {
        color:white;
        border-radius: 1rem;
        padding: .3rem 0rem;
        width: 8rem;
        height: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .job-active {
        background-color: antiquewhite;
        animation: active-job ease .5s infinite;
        @keyframes active-job {
            0% {border-color: rgb(255, 184, 91);}
            50% {border-color: rgb(254, 219, 173);}
            100% {border-color: rgb(255, 184, 91);}
            
        }
    }
    
}
.errorMessage {
    color: $color-primary;
    animation: error .5s ease 1;
    @keyframes error {
        0% {opacity: 0;}
        20% {opacity: 1;}
        40% {opacity: 0;}
        60% {opacity: 1;}
        100% {opacity: 0;}
    }
}
