@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, li, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
   -ms-user-select: auto;
       user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  -moz-user-select: auto;
   -ms-user-select: auto;
       user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: left;
  font-family: "Poppins", sans-serif;
}

nav ul {
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: calc(100vh - 3.2rem);
  background: #eee;
  padding: 1rem;
}
nav ul li {
  width: 100%;
  margin: 0.2rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 0.5rem;
}
nav ul li a {
  width: 100%;
  display: block;
  padding: 1rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 3.2rem;
  width: 100vw;
  background-color: hsl(264deg, 5%, 18%);
}
.top-bar ul > li {
  display: inline;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
.top-bar .logo {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: rgb(219, 219, 219);
}

button {
  cursor: pointer;
}

main {
  padding: 1.4rem;
  width: calc(100vw - 20rem);
}

.page-fade-up {
  opacity: 0;
  -webkit-animation: fade-up 0.5s forwards;
          animation: fade-up 0.5s forwards;
}

@-webkit-keyframes fade-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.login-control {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
}
.login-control form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1.4rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.5rem hsla(0deg, 0%, 0%, 0.1);
}
.login-control form input {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: inherit;
  border: 1px solid #d0d0d0;
}
.login-control form button {
  border-radius: inherit;
  padding: 0.5rem;
  background-color: hsl(23deg, 82%, 49%);
  color: white;
  text-align: center;
}/*# sourceMappingURL=main.css.map */